/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #7F5539;
  text-align: center;
}
.tile {
  background-color: #b08968;
  margin: 7rem;
  border-radius: 7rem;
  flex: 1;

  display : flex;
  flex-direction: column;;

}

.tile img{
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
}

.button a {
  color: #7F5539;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.button button {
  background-color: #e6ccb2;
  padding: .75rem;
  margin: .75rem;
  border-radius: 4rem;
  align-items: center;
  width: 50%;
}
.button a:hover {
  text-decoration: underline;
  color: DDB892;
}

.tile h1{
  color: wheat;
  align-self: start;
  font-style: italic;
  padding: 1rem;
}

.tile h2{
  color: wheat;
  font-size: 1.75rem;
  font-style: italic;
  align-self:flex-start;
  margin: 1rem;
}

.tile p{
  padding: .5rem;
}

footer{
  padding: 1rem;

}
